@font-face {
   font-family: 'Boomshell Font';
   font-display: swap;
   src: url('file:///C:/Users/gwood/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-11-01_202858/fonts/Boomshell%20Font/font.ttf');
}
